In [1]:
#import findspark
#findspark.init()

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder \
            .master("local[3]") \
            .appName("MiscDemo") \
            .getOrCreate()

data_list = [("Ravi", "28", "1", "2002"),
             ("Abdul", "23", "5", "81"), # 1981
             ("John", "12", "12", "6"), # 2006
             ("Rosy", "7", "8", "63"), # 1963
             ("Abdul", "23", "5", "81") # 1981
            ]
raw_df = spark.createDataFrame(data_list).toDF("name", "day", "month", "year").repartition(3)
raw_df.printSchema()

23/07/25 17:19:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

root
 |-- name: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)

In [2]:
df1 = raw_df.withColumn("id", monotonically_increasing_id())
df1.show()

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|  81|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|  81| 8589934593|
| John| 12|   12|   6|17179869184|
| Rosy|  7|    8|  63|17179869185|
+-----+---+-----+----+-----------+

In [3]:
df2 = df1.withColumn("year", expr(""" case 
        when year < 21 then year+2000
        when year < 100 then year+1900
        else year 
        end 
"""))
df2.show()

+-----+---+-----+------+-----------+
| name|day|month|  year|         id|
+-----+---+-----+------+-----------+
|Abdul| 23|    5|1981.0|          0|
| Ravi| 28|    1|  2002| 8589934592|
|Abdul| 23|    5|1981.0| 8589934593|
| John| 12|   12|2006.0|17179869184|
| Rosy|  7|    8|1963.0|17179869185|
+-----+---+-----+------+-----------+

In [4]:
df3 = df1.withColumn("year", expr(""" case 
        when year < 21 then cast(year as int)+2000
        when year < 100 then cast(year as int)+1900
        else year 
        end 
"""))
df3.show()

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|1981|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|1981| 8589934593|
| John| 12|   12|2006|17179869184|
| Rosy|  7|    8|1963|17179869185|
+-----+---+-----+----+-----------+

In [5]:
df4 = df1.withColumn("year", expr(""" case 
        when year < 21 then year+2000
        when year < 100 then year+1900
        else year 
        end 
""").cast(IntegerType()))
df4.show()

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|1981|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|1981| 8589934593|
| John| 12|   12|2006|17179869184|
| Rosy|  7|    8|1963|17179869185|
+-----+---+-----+----+-----------+

In [10]:
df1.show()

df5 = df1.withColumn("day" , col("day").cast(IntegerType())) \
         .withColumn("month" , col("month").cast(IntegerType())) \
         .withColumn("year" , col("year").cast(IntegerType()))

df5.printSchema()

df6 = df5.withColumn("year", expr(""" case 
        when year < 21 then year+2000
        when year < 100 then year+1900
        else year 
        end 
"""))
df6.show()

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|  81|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|  81| 8589934593|
| John| 12|   12|   6|17179869184|
| Rosy|  7|    8|  63|17179869185|
+-----+---+-----+----+-----------+

root
 |-- name: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- id: long (nullable = false)

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|1981|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|1981| 8589934593|
| John| 12|   12|2006|17179869184|
| Rosy|  7|    8|1963|17179869185|
+-----+---+-----+----+-----------+

In [13]:
df5.show()
df7 = df5.withColumn("year" , when(col("year") < 21 , col("year")+2000) \
                     .when(col("year") < 100 , col("year")+1900) \
                     .otherwise(col("year"))
                    )
df7.show()

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|  81|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|  81| 8589934593|
| John| 12|   12|   6|17179869184|
| Rosy|  7|    8|  63|17179869185|
+-----+---+-----+----+-----------+

+-----+---+-----+----+-----------+
| name|day|month|year|         id|
+-----+---+-----+----+-----------+
|Abdul| 23|    5|1981|          0|
| Ravi| 28|    1|2002| 8589934592|
|Abdul| 23|    5|1981| 8589934593|
| John| 12|   12|2006|17179869184|
| Rosy|  7|    8|1963|17179869185|
+-----+---+-----+----+-----------+

In [15]:
df8 = df7.withColumn("dob", expr("to_date(concat(day,'/',month,'/',year), 'd/M/y')"))
df8.show()

+-----+---+-----+----+-----------+----------+
| name|day|month|year|         id|       dob|
+-----+---+-----+----+-----------+----------+
|Abdul| 23|    5|1981|          0|1981-05-23|
| Ravi| 28|    1|2002| 8589934592|2002-01-28|
|Abdul| 23|    5|1981| 8589934593|1981-05-23|
| John| 12|   12|2006|17179869184|2006-12-12|
| Rosy|  7|    8|1963|17179869185|1963-08-07|
+-----+---+-----+----+-----------+----------+

In [22]:
df9=df7.withColumn("dob", to_date(expr("concat(day,'/',month,'/',year)"), 'd/M/y'))\
             .drop("day","month","year") \
             .dropDuplicates(["name","dob"]) \
             .sort(expr("dob desc"))

df9.show()

+-----+-----------+----------+
| name|         id|       dob|
+-----+-----------+----------+
| Rosy|17179869185|1963-08-07|
|Abdul|          0|1981-05-23|
| Ravi| 8589934592|2002-01-28|
| John|17179869184|2006-12-12|
+-----+-----------+----------+